<!DOCTYPE html>
<html lang="tr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block title %}Korsan Aykut{% endblock %}</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans&amp;subset=latin-ext">
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>
<body>

{% include "main_navigation.html" %}

<section class="section">
{% block content %}{% endblock %}
</section>
</body>
</html>
