{% extends 'base.html' %}

{% block content %}

<ul>
{% for book in object_list %}

<li><img src="/media/books/covers/{{ book.id }}_0.jpg"> {{ book.name }} - {{ book.authors.all.0.name }}</li>

{% endfor %}
</ul>

{% endblock %}
